.A_GoUp {
  z-index: 999;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;

  position: fixed;
  right: 72px;
  bottom: 128px;

  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;

  border: var(--yellow-border);
  background: var(--schizo-red);

  color: var(--schizo-yellow);
  font-family: 'InterVariable';
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  padding-bottom: 0px;

  box-shadow: var(--schizo-shadow);

  &:hover {
    cursor: var(--cursor-hover);
    padding-bottom: 12px;
    transition: padding-bottom 0.1s ease;
  }

  &:active {
    cursor: var(--cursor-pressed);
  }
}

.A_MuteSound {
  z-index: 999;
  opacity: 0.7;
  background-image: url('./svg/A_MuteSoundOff.svg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: var(--yellow-border);
  box-shadow: var(--schizo-shadow);

  width: 72px;
  height: 72px;

  position: fixed;
  left: 72px;
  bottom: 128px;

  &:hover {
    opacity: 1;
    cursor: var(--cursor-hover);
  }

  &:active {
    cursor: var(--cursor-pressed);
  }

  &.playing {
    background-image: url('./svg/A_MuteSound.svg');
  }
}

.A_HeaderNews {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: var(--schizo-red);
  border-bottom: var(--yellow-border);
  white-space: nowrap;
  display: flex;
  overflow: hidden;

  div {
    display: flex;
    position: relative;
    animation: marquee 22s linear infinite;
    gap: 44px;
    padding: 0 22px;
  }
}

.A_NewsLink {
  font-family: 'InterVariable', sans-serif;
  font-size: var(--body-font-size);
  font-weight: 600;
  font-style: italic;
  color: var(--schizo-yellow);

  &:hover {
    cursor: var(--cursor-hover);
    text-decoration-line: underline;
  }

  &:active {
    cursor: var(--cursor-pressed);
  }
}

.A_HeaderNavbarBtn {
  display: flex;
  transform: rotate(3deg);
  padding: 6px 12px 4px 12px;
  justify-content: center;
  align-items: center;
  background: var(--schizo-red);

  color: var(--schizo-yellow, #fff200);
  text-align: center;
  font-family: 'Times New Roman';
  font-size: var(--smaller-font-size);
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.1s ease;

  &:hover {
    cursor: var(--cursor-hover);
    text-decoration-line: underline;
    transition: transform 0.1s ease;
    transform: rotate(5deg);
  }

  &:active {
    cursor: var(--cursor-pressed);
  }
}

a:has(.A_HeaderNavbarBtn) {
  cursor: none;
}

.A_HeaderNavbarSearch {
  gap: 160px;
  display: flex;
  transform: rotate(3deg);
  padding: 6px 14px 4px 14px;
  justify-content: center;
  align-items: center;
  background: var(--schizo-red);

  color: var(--schizo-yellow, #fff200);
  text-align: center;
  font-family: 'Times New Roman';
  font-size: var(--smaller-font-size);
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.A_LandingTitle {
  z-index: 1;
  margin-bottom: -10px;
  position: relative;
  display: flex;
  height: var(--A_LandingTitle-Height);
  padding: 0px 16px 18px 16px;
  align-items: flex-end;
  gap: 60px;
  flex-shrink: 0;

  border: var(--yellow-border);
  background: var(--schizo-red);
  color: transparent;
  text-shadow: var(--schizo-shadow-text);

  font-family: 'InterVariable', sans-serif;
  font-size: var(--title-font-size);
  font-style: italic;
  font-weight: 700;
  line-height: 100%;
  word-spacing: var(--title-word-spacing);

  text-transform: uppercase;

  &.shadowed {
    border: 0px;

    color: var(--schizo-red);
    width: fit-content;

    position: absolute;
  }

  &.final {
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 28px;

    border: 0px;

    color: var(--schizo-red);
    width: var(--center-container);
  }

  &.invert {
    width: 100%;

    border: var(--red-border);
    background: var(--schizo-yellow);

    color: var(--schizo-red);
    height: var(--A_LandingTitleSec03-Height);

    position: absolute;
    top: -90px;
  }

  &::after {
    color: var(--schizo-red);
    white-space: pre-line;
    -webkit-text-stroke-width: var(--title-font-stroke);
    -webkit-text-stroke-color: var(--schizo-yellow);
    paint-order: stroke fill;
    content: attr(data-text); /* Дублируем текст */
    position: absolute;
    text-shadow: 0px 0px 0px var(--schizo-red); /* Тень */

    gap: 0px;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-transform: inherit;
    line-height: 100%;
  }
  br {
    // content: ''; // отрубать при бандле
    margin: -20px 0;
  }
}

.A_LandingText {
  display: flex;

  color: var(--schizo-yellow);
  font-family: 'InterVariable';
  font-size: var(--body-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */

  &.invert {
    color: var(--schizo-red);
  }
}

.A_Tag {
  transition: 0.1s ease;

  width: fit-content;
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;

  color: var(--schizo-red);
  font-family: 'Times New Roman';
  font-size: var(--tag-font-size);
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  background: var(--schizo-yellow);

  &:hover {
    text-decoration: underline;
    transition: 0.1s ease;
    cursor: var(--cursor-hover);
  }

  &.invert {
    color: var(--schizo-yellow);
    background: var(--schizo-red);
  }
}

.A_LandingLink {
  display: flex;
  width: fit-content;
  flex-shrink: 0;

  color: var(--schizo-yellow);
  text-align: center;
  font-family: 'InterVariable';
  font-size: var(--body-font-size);
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  transition: 0.1s ease;

  &.invert {
    color: var(--schizo-red);
  }

  &.outLink:hover {
    padding-left: 0px;
  }
}

.A_LandingLink:hover {
  transition: 0.1s ease;
  padding-left: 6px;
  text-decoration-line: underline;
  cursor: var(--cursor-hover);
}

.A_LandingCardsItemContentText {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  color: var(--schizo-yellow);
  font-family: 'InterVariable';
  font-size: var(--smaller-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 39.2px */
}

.A_LandingCardsItemContentLink {
  display: flex;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--schizo-yellow);
  font-family: 'InterVariable';
  font-size: var(--smaller-font-size);
  font-style: italic;
  font-weight: 700;
  transition: 0.1s ease;

  &:hover {
    padding-left: 6px;
    transition: 0.1s ease;
  }
}

.A_LandingCardsItemTitle {
  display: flex;
  z-index: 1;
  position: absolute;
  left: var(--A_LandingCardsItemTitle-Left);
  top: var(--A_LandingCardsItemTitle-Top);

  font-family: 'InterVariable';
  font-size: var(--body-font-size);
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: var(--schizo-shadow-text-small);
  color: transparent;
}
.A_LandingCardsItemTitle::after {
  color: var(--schizo-red);

  -webkit-text-stroke-width: var(--cards-font-stroke);
  -webkit-text-stroke-color: var(--schizo-yellow);
  paint-order: stroke fill;
  content: attr(data-text); /* Дублируем текст */

  text-shadow: 0px 0px 0px var(--schizo-red); /* Тень */
  position: absolute;
}
