.M_HeaderNavbar {
  display: flex;
  width: var(--center-container);
  justify-content: space-between;
  padding: 10px 10px 18px 10px;
  align-items: center;
  background: var(--schizo-yellow);
}

.M_Footer {
  position: relative;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 19px 72px;
  justify-content: space-between;
  align-items: center;

  border-top: var(--yellow-border);
  background: var(--schizo-red);
}

.M_LandingCardsItem {
  position: relative;
  width: var(--M_LandingCardsItem-Width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: var(--yellow-border);
  background: var(--schizo-red);

  /* schizo-shadow */
  box-shadow: var(--schizo-shadow);

  &.invert {
    background: var(--schizo-yellow);
    border: var(--red-border);

    .A_LandingCardsItemContentText {
      color: var(--schizo-red);
    }

    .A_LandingCardsItemContentLink {
      color: var(--schizo-red);
    }
  }

  &:hover {
    .A_LandingCardsItemContentLink {
      cursor: var(--cursor-hover);
      text-decoration-line: underline;
    }
  }
}
