.M_HeaderNavbar {
  padding: 0px 10px 10px 10px;
  height: calc(var(--header-footer-height) - var(--border-width));
  gap: var(--border-width);
  display: flex;
  width: var(--center-container);
  background: var(--schizo-yellow);
  align-items: center;

  &.invert {
    padding: var(--border-width);

    display: none;
    background: var(--schizo-red);
    width: fit-content;

    .A_HeaderNavbarBtn {
      background: var(--schizo-yellow);
      color: var(--schizo-red);
    }
    margin-left: 120px;
  }
}

.M_Footer {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0px 72px;
  height: var(--header-footer-height);

  justify-content: space-between;
  align-items: center;

  border-top: var(--yellow-border);
  background: var(--schizo-red);

  flex-shrink: 0;
}

.M_LandingCardsItem {
  position: relative;
  width: var(--M_LandingCardsItem-Width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: var(--yellow-border);
  background: var(--schizo-red);

  /* schizo-shadow */
  box-shadow: var(--schizo-shadow);

  &.invert {
    background: var(--schizo-yellow);
    border: var(--red-border);

    .A_LandingCardsItemContentText {
      color: var(--schizo-red);
    }

    .A_LandingCardsItemContentLink {
      color: var(--schizo-red);
    }
  }

  &:hover {
    .A_LandingCardsItemContentLink {
      cursor: var(--cursor-hover);
      text-decoration-line: underline;
    }
  }
}
