.M_HeaderNavbar {
  padding: 0px 10px 10px 10px;
  height: calc(var(--header-footer-height) - var(--border-width));
  gap: var(--border-width);
  display: flex;
  width: 100%;
  background: var(--schizo-yellow);
  align-items: center;
  max-width: var(--center-container);

  &.invert {
    padding: var(--border-width);

    display: none;
    background: var(--schizo-red);
    width: fit-content;

    .A_HeaderNavbarBtn {
      background: var(--schizo-yellow);
      color: var(--schizo-red);
    }
    margin-left: 520px;
  }

  &.invert.Gen {
    padding: var(--border-width);

    display: none;
    // display: flex;

    background: var(--schizo-red);
    width: fit-content;

    .A_HeaderNavbarBtn {
      background: var(--schizo-yellow);
      color: var(--schizo-red);
    }
    margin-left: 490px;
  }
}

.M_Footer {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0px 72px;
  height: var(--header-footer-height);

  justify-content: space-between;
  align-items: center;

  border-top: var(--yellow-border);
  background: var(--schizo-red);

  flex-shrink: 0;
}

.M_LandingCardsItem {
  position: relative;
  width: var(--M_LandingCardsItem-Width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: var(--yellow-border);
  background: var(--schizo-red);

  /* schizo-shadow */
  box-shadow: var(--schizo-shadow);

  &.invert {
    background: var(--schizo-yellow);
    border: var(--red-border);

    .A_LandingCardsItemContentText {
      color: var(--schizo-red);
    }

    .A_LandingCardsItemContentLink {
      color: var(--schizo-red);
    }

    ::selection {
      background-color: var(--schizo-red);
      color: var(--schizo-yellow);
    }
  }

  &:hover {
    .A_LandingCardsItemContentLink {
      cursor: var(--cursor-hover);
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
    }
  }

  ::selection {
    background-color: var(--schizo-yellow);
    color: var(--schizo-red);
  }
}

// articlePage

.M_ArticleSidePics {
  display: flex;
  flex-direction: column;
  width: var(--sidePics-width);
  flex-shrink: 0;
  gap: var(--border-width);
  border: var(--red-border);
  height: fit-content;
  background-color: var(--schizo-red);
}

.M_ArticleLeftSideItem {
  padding: 12px;
  gap: 16px;
  background-color: var(--schizo-yellow);
  display: flex;
  color: var(--schizo-red);

  :hover {
    cursor: var(--cursor-hover);

    h6:first-child {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
    }
  }
}

.M_ArticleContentBodySamplePic {
  display: flex;
  flex-direction: column;
  padding: 20px 26px;
  gap: 8px;
  h6 {
    color: var(--schizo-red);
  }
}

.M_ArticleContentBodySampleQuotePic {
  display: flex;
  flex-direction: column;
  width: 250px;
  flex-shrink: 0;
  gap: 8px;

  h6 {
    color: var(--schizo-red);
    line-height: 120%;
  }

  h6.invert {
    color: var(--schizo-yellow);
  }
}

.M_ArticleContentBodySampleQuoteTextContainer {
  display: flex;
  padding-bottom: 24px;
  justify-content: space-between;
  gap: 16px;

  h5 {
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;

    padding: 6px 0px 6px 6px;
  }
}

.M_ArticleShareLinks {
  display: flex;
  gap: 12px;
  h5 {
    color: var(--schizo-red);

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}

.M_ReadMoreCardsItem {
  display: flex;
  flex-direction: column;
  background-color: var(--schizo-red);
  padding: var(--border-width);
  gap: 42px;
}

// encryptor

.M_EncryptorSelectTitle {
  display: flex;
  justify-content: space-between;
  padding: 0px 18px;
}

// iceberg
.M_IcebergContentInputsItemField {
  background-color: var(--schizo-yellow);
  display: flex;
  gap: 10px;
  padding-left: 16px;
  align-items: center;
  width: 100%;

  input {
    width: 100%;
    height: 100%;
    padding: 12px 0px;

    color: var(--schizo-red);

    font-family: 'InterVariable', sans-serif;
    font-size: var(--h5-font-size);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  input::selection {
    background-color: var(--schizo-red);
    color: var(--schizo-yellow);
  }

  input::placeholder {
    color: var(--schizo-red);
  }

  input:focus {
    outline: none;
  }

  input:focus::placeholder {
    opacity: 0.25;
  }
}
