.O_Header {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 20px 16px);
  z-index: 99;
}

.O_LandingSec {
  position: relative;
  width: var(--center-container);
  display: flex;
  flex-direction: column;
  box-shadow: var(--schizo-shadow);

  &.sec03 {
    margin-top: 266px;
  }
}

.O_LandingSec02 {
  width: var(--center-container);
  object-fit: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  height: var(--O_LandingSec02-Height);

  &::before {
    content: '';
    width: 100vw;
    height: inherit;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    box-sizing: border-box;
    border-top: var(--red-border);
    border-bottom: var(--red-border);
    box-shadow: var(--schizo-shadow);
    background-image: url('./images/landing/sec02.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  video {
    border-top: var(--red-border);
    border-bottom: var(--red-border);
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease;
    height: inherit;
  }

  // Ховер эффекты
  &:hover {
    &::before {
      opacity: 1;
    }

    video {
      opacity: 1;
    }
  }
}

.O_LandingCards {
  display: flex;
  align-items: center;
  gap: var(--O_LandingCards-Gap);
}

.O_FinalSec {
  background: var(--schizo-red);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  box-shadow: var(--schizo-shadow);
}
