.O_Header {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 20px 16px);
  z-index: 99;

  justify-content: center;
}

.O_LandingSec {
  position: relative;
  width: var(--center-container);
  display: flex;
  flex-direction: column;
  filter: drop-shadow(var(--schizo-drop-shadow));

  &.sec03 {
    margin-top: var(--O_LandingSec-sec03-MarginTop);
  }
}

.O_LandingSec02 {
  width: var(--center-container);
  object-fit: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  height: var(--O_LandingSec02-Height);

  &::before {
    content: '';
    width: 100vw;
    height: inherit;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    box-sizing: border-box;
    border-top: var(--red-border);
    border-bottom: var(--red-border);
    box-shadow: var(--schizo-shadow);
    background-image: url('./images/landing/sec02.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  video {
    border-top: var(--red-border);
    border-bottom: var(--red-border);
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease;
    height: inherit;
  }

  // Ховер эффекты
  &:hover {
    &::before {
      opacity: 1;
    }

    video {
      opacity: 1;
    }
  }
}

.O_LandingCards {
  display: flex;
  gap: var(--O_LandingCards-Gap);
}

.O_FinalSec {
  background: var(--schizo-red);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  box-shadow: var(--schizo-shadow);
}

.O_BurgerMenu {
  display: none;
  min-width: 290px;
}

.O_SearchBar {
  display: none;
}

.O_ArticlesCard {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;

  border: var(--border-width) solid var(--schizo-yellow);
  background: var(--schizo-red);

  &.invert {
    border: var(--border-width) solid var(--schizo-red);
    background: var(--schizo-yellow);

    h5 {
      color: var(--schizo-red);
    }
  }
}

// articlePage
.O_ArticleLeftSide {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: var(--sidePics-width);

  background-color: var(--schizo-red);
  border: var(--border-width) solid var(--schizo-red);
  gap: var(--border-width);

  flex-shrink: 0;
}

.O_ArticleContentBody {
  padding-bottom: 24px;
  max-width: 676px;

  background-color: var(--schizo-yellow);
  border: var(--border-width) solid var(--schizo-red);
}

.O_ArticleContentBodySampleQuote {
  align-items: center;
  display: flex;
  padding: 26px 16px 14px 16px;
  background-color: var(--schizo-red);
  gap: 24px;

  margin: 12px 0px;

  .M_ArticleContentBodySampleQuotePic {
    width: 100%;
    max-width: 220px;
  }

  ::selection {
    background-color: var(--schizo-yellow);
    color: var(--schizo-red);
  }
}

.O_ReadMore {
  margin: 96px 0px;

  .C_ReadMoreCards {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    background-color: var(--schizo-yellow);
    border: var(--yellow-border);
  }
}

// encryptor

.O_EncryptorSelect {
  background-color: var(--schizo-red);
  border: var(--yellow-border);
  padding-top: 20px;
  width: 224px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .C_EncryptorSelectButtons {
    display: flex;
    flex-direction: column;
  }
}

.O_EncryptorContent {
  background-color: var(--schizo-red);
  border: var(--yellow-border);
  padding: 62px 16px 16px 16px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  h1 {
    display: none;
    margin-bottom: 50px;
  }

  h2 {
    position: absolute;
    top: -28px;
    left: 30px;
  }
}

.O_EncryptorContentAnnotation {
  background-color: var(--schizo-red);
  border: var(--yellow-border);
  margin-left: 256px;
  position: relative;
  padding: 30px;
  display: flex;

  h2 {
    position: absolute;
    top: -28px;
    left: 30px;
  }

  h5 {
    padding: 20px 276px 0px 0px;
  }
}

// iceberg
.O_IcebergContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  .C_IcebergContentInputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
  }
}

.O_IcebergResult {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
