.Q_SearchIcon {
  width: 22px;
  height: 23px;
}

.Q_Shadow {
  position: absolute;
  top: 190px;
  width: 1745px;
  height: 368px;
  background-image: url('./images/shadow.png');
  opacity: 0.7;
}

.Q_LandingSecContentPic {
  display: flex;
  height: var(--Q_LandingSecContentPic);
  aspect-ratio: 1/1;
}

.Q_3DLogo {
  flex-shrink: 1;
  height: var(--render-height);
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  margin-bottom: -30px;

  filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 1));
}

.Q_LandingCardsItemPic {
  position: relative;
  padding: 10px;
  img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Q_TgIcon {
  display: flex;
  align-items: flex-start;
  width: var(--Q_TgIcon-Size);
  height: var(--Q_TgIcon-Size);
}

.Q_BurgerIcon {
  display: none;
}

.Q_SearchIconMobile {
  display: none;
}

.Q_LogoMobile {
  display: none;
}
