.S_Landing {
  background-image: url('./images/backgrounds/bg01.jpg');
  background-size: cover;
  background-position: center top;

  display: flex;
  align-items: center;
  width: auto;
  flex-direction: column;

  justify-content: space-between;
  overflow-x: hidden;
}
