.S_Landing {
  background-image: url('./images/backgrounds/bg01.jpg');
  background-size: cover;
  background-position: center top;
  background-color: var(--schizo-red);

  display: flex;
  align-items: center;
  width: auto;
  flex-direction: column;

  justify-content: space-between;
  overflow-x: hidden;
  position: relative;
}

.S_Articles {
  width: var(--center-container);
  display: flex;
  flex-direction: column;
  margin-top: 240px;

  filter: drop-shadow(var(--schizo-drop-shadow));
}

.S_Article {
  margin-top: 240px;
  width: var(--center-container);
  display: flex;
  flex-direction: column;
  filter: drop-shadow(var(--schizo-drop-shadow));
  align-items: center;
}
