.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: var(--wrap-gap);
  margin-bottom: var(--wrap-padding);
  margin-top: var(--wrap-padding-top);
}

.W_LandingSecContent {
  display: flex;
  padding: 10px;
  padding-right: 20px;
  align-items: flex-start;
  gap: var(--W_LandingSecContent-Gap);
  align-self: stretch;

  border: var(--yellow-border);
  background: var(--schizo-red);

  img::selection {
    background-color: var(--schizo-yellow);
  }

  .A_LandingLink {
    &::selection {
      background-color: var(--schizo-yellow);
      color: var(--schizo-red);
    }
  }

  &.invert {
    border: var(--red-border);
    background: var(--schizo-yellow);

    ::selection {
      background-color: var(--schizo-red);
      color: var(--schizo-yellow);
    }

    img::selection {
      background-color: var(--schizo-red);
    }
  }

  &::selection {
    background-color: var(--schizo-yellow);
    color: var(--schizo-red);
  }
}

.W_LandingSecContentType {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0px 6px 0px;
  height: 100%;
}

.W_LandingSecContentTypeUpside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.W_FooterText {
  display: flex;
  gap: 90px;

  a,
  div {
    color: var(--schizo-yellow);
    font-family: 'InterVariable';
    font-size: var(--h4-font-size);
    font-style: italic;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;
    color: var(--schizo-yellow);

    &::selection {
      background-color: var(--schizo-yellow);
      color: var(--schizo-red);
    }
  }

  a:hover {
    text-decoration: underline;
    cursor: var(--cursor-hover);

    &:active {
      cursor: var(--cursor-pressed);
    }
  }
}

.W_LandingSec02Content {
  gap: 20px;
  position: absolute;
  bottom: 0px;
  transform: translateY(calc(50% - var(--border-width)));

  display: flex;
  width: var(--center-container);
  padding: 16px 22px;
  justify-content: space-between;
  align-items: flex-end;

  background: var(--schizo-red);
  box-shadow: var(--schizo-shadow);
}

.W_LandingCardsItemContent {
  display: flex;
  padding: 40px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--W_LandingCardsItemContent-Gap);
  align-self: stretch;
}

.W_FinalSecContent {
  display: flex;
  padding-bottom: 24px;
  gap: 60px;
  justify-content: center;

  background: var(--schizo-red);
}

.W_FinalSecContentText {
  position: relative;
  width: var(--W_FinalSecContentText-Width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;

  color: var(--schizo-yellow);
  font-family: 'InterVariable';
  font-size: var(--h4-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
}

.W_BurgerMenuContent {
  border-top: var(--red-border);
  display: flex;
  flex-direction: column;
  background-color: var(--schizo-yellow);
  width: 100%;
  z-index: 9999;
  padding: 24px 16px 24px 16px;
  gap: 22px;

  > * {
    &:nth-child(even) {
      transform: rotate(1deg);
    }
    &:nth-child(odd) {
      transform: rotate(-1deg);
    }
  }

  a,
  div {
    width: fit-content;
  }

  .A_HeaderNavbarBtn {
    width: fit-content;
    text-align: center;
    padding: 8px 16px 6px 16px;
    transform: rotate(0deg);
  }
}

.W_SearchBarContent {
  filter: drop-shadow(0px 20px 16px);

  display: flex;
  width: 100%;
  background-color: var(--schizo-yellow);
  z-index: 9999;
  height: var(--A_Header-Height);
  padding: 8px 16px;
}

.W_SearchBarContentInput {
  background-color: var(--schizo-red);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px 8px;
}

.W_SearchBarContentInputLeft {
  display: flex;
  gap: 8px;
}
.W_HeaderNavbarsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.W_ArticlesCardContent {
  display: flex;
  height: 100%;
  padding-top: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.W_ArticlesCardContentText {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 40px;

  h5 {
    padding-right: 200px;
  }

  h2 {
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // overflow: hidden;

    &::after {
      // position: absolute;
      // top: 0;
      // display: -webkit-box;
      // -webkit-line-clamp: 3;
      // -webkit-box-orient: vertical;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }
}

.W_ArticlesCardContentInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  a {
    h5 {
      padding-right: 12px;
      transition: 0.05s ease;

      &:hover {
        padding-right: 4px;
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
      }
    }
  }
}

.W_ArticleContent {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.W_ArticleLeftSideItemText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h6 {
    color: var(--schizo-red);
  }
}

.W_ArticleContentBodySample {
  h5 {
    color: var(--schizo-red);
    font-weight: 400;
    padding: 8px 78px 8px 58px;
  }

  .A_ArticleContentBodySampleIndent {
    margin: 20px 0;
    background-color: var(--schizo-red);
    padding: 16px 58px 16px 58px;

    h5 {
      padding: 8px 0px 8px 28px;
      border-left: 5px solid var(--schizo-yellow, #fff200);
      color: var(--schizo-yellow);
      font-style: italic;
      font-weight: 800;
      text-transform: uppercase;

      &::selection {
        background-color: var(--schizo-yellow);
        color: var(--schizo-red);
      }
    }
  }
}

.M_ArticleContentBodySampleQuoteTextContainer {
  h5 {
    padding: 8px 0px 8px 28px;
    color: var(--schizo-yellow);
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;

    &::selection {
      background-color: var(--schizo-yellow);
      color: var(--schizo-red);
    }
  }
}

.W_ArticleShareWrap {
  display: flex;
  flex-direction: column;
}

.W_ArticleShare {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: calc(var(--border-width) * -1);
  width: 100%;
  background-color: var(--schizo-yellow);
  border: var(--red-border);

  padding: 16px;

  h3 {
    text-shadow: none;
    -webkit-text-stroke-width: none;
  }
}

.W_ReadMoreCardsItemText {
  display: flex;
  flex-direction: column;
  gap: 36px;

  h5 {
    font-size: 16px;
  }
}

.W_ReadMoreCardsItemTextInfo {
  display: flex;
  justify-content: space-between;
}

// encryptor

.W_EncryptorSelectButtonsItemWrap {
  display: flex;
  gap: 4px;
}

.W_EncryptorContent {
  position: relative;
  display: flex;
  gap: 32px;
  height: 380px;
}

.W_EncryptorContentInterface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px; // как это ваще блять сработало
  width: 100%;
  height: 100%;

  gap: 16px;
}

.W_EncryptorContentInterfaceWindow {
  max-width: 380px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: var(--schizo-yellow);
  padding: 24px 12px 60px 12px;

  h3 {
    position: absolute;
    top: -10px;
    left: 12px;
  }
}

.W_EncryptorContentInput {
  position: relative;
  height: 44px;
  display: none;
  gap: 40px;
  padding-top: 12px;
}

.W_EncryptorContentInputText {
  align-items: center;
  display: flex;
  gap: 12px;
}

.W_EncryptorContentInputControls {
  width: 100%;
  max-width: 374px;
  display: flex;
  align-items: center;
  gap: 14px;
}

// iceberg
.W_IcebergResultActions {
  display: flex;
  position: relative;

  gap: 16px;

  .A_EncryptorContentInterfaceWindowCopyBtn {
    position: relative;
    width: 40px;
    height: 40px;

    bottom: auto;
    left: auto;

    transition: 0s;
  }

  .A_EncryptorContentInterfaceWindowCopyBtn:hover {
    background-color: var(--schizo-yellow);
    background-image: url('./svg/encryptor/A_EncryptorContentInterfaceWindowCopyBtn.svg');
    opacity: 0.8;
  }
}

.W_IcebergContentLevels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_IcebergResultPic {
  background-color: var(--schizo-yellow);
  padding: 5px;
  position: relative;

  .C_AddPic {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    right: 5px;
    background-color: var(--schizo-yellow);
  }
}

.W_IcebergContentInputsItem {
  display: flex;
  gap: 16px;
  padding: 8px 0px;
  // height: 100%;
}
