.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: var(--wrap-gap);
  margin-bottom: var(--wrap-padding);
  margin-top: var(--wrap-padding-top);
}

.W_LandingSecContent {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;

  border: var(--yellow-border);
  background: var(--schizo-red);

  &.invert {
    border: var(--red-border);
    background: var(--schizo-yellow);
  }
}

.W_LandingSecContentType {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0px 6px 0px;
  height: 100%;
}

.W_LandingSecContentTypeUpside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.W_FooterText {
  display: flex;
  gap: 90px;

  a,
  div {
    color: var(--schizo-yellow);
    font-family: 'InterVariable';
    font-size: var(--body-font-size);
    font-style: italic;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;
    color: var(--schizo-yellow);
  }

  a:hover {
    text-decoration: underline;
    cursor: var(--cursor-hover);

    &:active {
      cursor: var(--cursor-pressed);
    }
  }
}

.W_LandingSec02Content {
  gap: 20px;
  position: absolute;
  bottom: 0px;
  transform: translateY(calc(50% - var(--border-width)));

  display: flex;
  width: var(--center-container);
  padding: 16px 22px;
  justify-content: space-between;
  align-items: flex-end;

  background: var(--schizo-red);
  box-shadow: var(--schizo-shadow);
}

.W_LandingCardsItemContent {
  display: flex;
  padding: 40px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--W_LandingCardsItemContent-Gap);
  align-self: stretch;
}

.W_FinalSecContent {
  display: flex;
  padding-bottom: 24px;
  gap: 60px;
  justify-content: center;

  background: var(--schizo-red);
}

.W_FinalSecContentText {
  position: relative;
  width: var(--W_FinalSecContentText-Width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;

  color: var(--schizo-yellow);
  font-family: 'InterVariable';
  font-size: var(--body-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
}

.W_BurgerMenuContent {
  border-top: var(--red-border);
  display: flex;
  flex-direction: column;
  background-color: var(--schizo-yellow);
  width: 100%;
  z-index: 9999;
  padding: 24px 16px 24px 16px;
  gap: 22px;

  > * {
    &:nth-child(even) {
      transform: rotate(1deg);
    }
    &:nth-child(odd) {
      transform: rotate(-1deg);
    }
  }

  a {
    width: fit-content;
  }

  .A_HeaderNavbarBtn {
    width: fit-content;
    text-align: center;
    padding: 8px 16px 6px 16px;
    transform: rotate(0deg);
  }
}

.W_SearchBarContent {
  filter: drop-shadow(0px 20px 16px);

  display: flex;
  width: 100%;
  background-color: var(--schizo-yellow);
  z-index: 9999;
  height: var(--A_Header-Height);
  padding: 8px 16px;
}

.W_SearchBarContentInput {
  background-color: var(--schizo-red);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px 8px;
}

.W_SearchBarContentInputLeft {
  display: flex;
  gap: 8px;
}
.W_HeaderNavbarsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.W_ArticlesCardContent {
  display: flex;
  height: 100%;
  padding-top: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.W_ArticlesCardContentText {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 40px;

  h5 {
    padding-right: 200px;
  }
}

.W_ArticlesCardContentInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  a {
    h5 {
      padding-right: 12px;
      transition: 0.05s ease;

      &:hover {
        padding-right: 4px;
        text-decoration: underline;
      }
    }
  }
}
