.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 170px;
  margin-bottom: 170px;
}

.W_LandingSecContent {
  display: flex;
  padding: 15px;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;

  border: 15px solid var(--schizo-yellow);
  background: var(--schizo-red);

  &.invert {
    border: 15px solid var(--schizo-red);
    background: var(--schizo-yellow);
  }
}

.W_LandingSecContentType {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 0px 12px 0px;
}

.W_LandingSecContentTypeUpside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.W_FooterText {
  display: flex;
  gap: 90px;

  a,
  div {
    color: var(--schizo-yellow);
    font-family: 'InterVariable';
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;
    color: var(--schizo-yellow);
  }

  a:hover {
    text-decoration: underline;
    cursor: var(--cursor-hover);

    &:active {
      cursor: var(--cursor-pressed);
    }
  }
}

.W_LandingSec02Content {
  position: absolute;
  bottom: -117px;

  display: flex;
  width: 1760px;
  padding: 24px 26px;
  justify-content: space-between;
  align-items: flex-end;

  background: var(--schizo-red);
  box-shadow: var(--schizo-shadow);
}

.W_LandingCardsItemContent {
  display: flex;
  padding: 76px 26px 26px 26px;
  flex-direction: column;
  align-items: flex-start;
  gap: 68px;
  align-self: stretch;
}

.W_FinalSecContent {
  display: flex;
  padding-bottom: 24px;
  gap: 60px;
  justify-content: center;

  background: var(--schizo-red);
}

.W_FinalSecContentText {
  width: 1532px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;

  color: var(--schizo-yellow);
  font-family: 'InterVariable';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
}
