* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'InterVariable', sans-serif;
  font-weight: 400;
}

.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }
}

a {
  text-decoration: none;
}

img {
  &::selection {
    background-color: var(--schizo-red);
    color: var(--schizo-yellow);
  }
}

// курсор

* {
  cursor: url('./images/cursor/cursor.png'), auto;
}

*:active {
  cursor: var(--cursor-pressed);
}

// анимация для бегущей строки

@keyframes marquee {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3D(-100%, 0, 0);
  }
}

[data-text] {
  white-space: pre-line;
}

.preLoader {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: var(--schizo-yellow);
  z-index: 9999;
  transition: opacity 0.5s ease;
  opacity: 1;

  &--hidden {
    opacity: 0;
  }

  img {
    width: 25%;
  }
}

.preLoaderCircle {
  height: 120px;
  width: 120px;

  border: 6px solid var(--schizo-red);
  border-left-color: var(--schizo-yellow);

  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloaderText {
  font-family: 'InterVariable', sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  line-height: 100%;
  color: var(--schizo-red);
  padding-left: 16px;

  text-transform: uppercase;
}

body.articles {
  background-image: url('./images/backgrounds/bg02.jpg');

  background-size: cover;
  background-position: center top;
  background-color: var(--schizo-red);

  display: flex;
  align-items: center;
  width: auto;
  flex-direction: column;

  overflow-x: hidden;
  position: relative;
  gap: 68px;
}

body.articlePage {
  background-image: url('./images/backgrounds/bg03.jpg');

  background-size: cover;
  background-position: center top;
  background-color: var(--schizo-red);

  display: flex;
  align-items: center;
  width: auto;
  flex-direction: column;

  overflow-x: hidden;
  position: relative;
  // gap: 68px;
}

body.encryptor {
  background-image: url('./images/backgrounds/bg01.jpg');

  background-size: cover;
  background-position: center top;
  background-color: var(--schizo-red);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  flex-direction: column;

  overflow-x: hidden;
  position: relative;
}
