@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap&text=Almost%20befrwkni,hadgu.↗');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Light.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Regular.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Medium.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Bold.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
