// iceberg

.A_IcebergInput {
  display: flex;
  background-color: var(--schizo-yellow);
  color: var(--schizo-red);
  border: none;
}

.A_IcebergInputBtn {
  flex-shrink: 0;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--schizo-yellow);
}

.A_AddPic {
  flex-shrink: 0;
  display: flex;
  width: 66px;
  height: 66px;
  background-color: var(--schizo-red);
  background-image: url('./svg/iceberg/A_AddPic.svg');
  background-origin: content-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6px;
  transition: 0.1s ease;

  &:hover {
    background-color: var(--schizo-red-hover);
    padding: 4px;
  }

  &:active {
    background-color: var(--schizo-red);
    padding: 0px;
  }
}

.iceberg-wrapper {
  display: flex;
}
