body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  & > div,
  & > a {
    margin: 10px 0;
  }
}

.countdown {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: white;
  font-size: 5vw;
  filter: blur(1px);
  text-shadow: 0px 0 50px rgba(255, 255, 255, 0.25);
}

.tg-link {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: white;
  font-size: 1.406vw;
  filter: blur(1px);
  text-shadow: 0px 0 50px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  text-decoration: underline;
}

.tg-link:hover {
  color: gray;
}
