@media only screen and (min-width: 2221px) {
  :root {
    --h1-font-size: 82px;
    --h1-stroke-size: 14px;
    --h1-word-spacing: 10px;

    --h2-font-size: 46px;
    --h2-stroke-size: 10px;
    --h2-word-spacing: 10px;

    --h3-font-size: var(--h4-font-size);
    --h3-stroke-size: 5px;
    --h3-word-spacing: 10px;

    --tag-font-size: 30px;

    --h4-font-size: 26px;

    --h5-font-size: 18px;
  }
}

@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  :root {
    --h1-font-size: 82px;
    --h1-stroke-size: 14px;
    --h1-word-spacing: 10px;

    --h2-font-size: 46px;
    --h2-stroke-size: 10px;
    --h2-word-spacing: 10px;

    --h3-font-size: var(--h4-font-size);
    --h3-stroke-size: 5px;
    --h3-word-spacing: 10px;

    --tag-font-size: 30px;

    --h4-font-size: 26px;

    --h5-font-size: 18px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1740px) {
  :root {
    --h1-font-size: 78px;
    --h1-stroke-size: 12px;
    --h1-word-spacing: 8px;

    --h2-font-size: 40px;
    --h2-stroke-size: 8px;
    --h2-word-spacing: 8px;

    --h3-font-size: var(--h4-font-size);
    --h3-stroke-size: 5px;
    --h3-word-spacing: 10px;

    --tag-font-size: 28px;

    --h4-font-size: 24px;

    --h5-font-size: 16px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --h1-font-size: 78px;
    --h1-stroke-size: 12px;
    --h1-word-spacing: 8px;

    --h2-font-size: 40px;
    --h2-stroke-size: 8px;
    --h2-word-spacing: 8px;

    --h3-font-size: var(--h4-font-size);
    --h3-stroke-size: 5px;
    --h3-word-spacing: 10px;

    --tag-font-size: 24px;

    --h4-font-size: 20px;

    --h5-font-size: 16px;
  }
}

@media only screen and (min-device-width: 463px) and (max-device-width: 768px) {
  :root {
    --h1-font-size: 48px;
    --h1-stroke-size: 8px;
    --h1-word-spacing: 8px;

    --h2-font-size: 24px;
    --h2-stroke-size: 6px;
    --h2-word-spacing: 8px;

    --h3-font-size: var(--h4-font-size);
    --h3-stroke-size: 5px;
    --h3-word-spacing: 10px;

    --tag-font-size: 24px;

    --h4-font-size: 16px;

    --h5-font-size: 12px;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 462px) {
  :root {
    --h1-font-size: 42px;
    --h1-stroke-size: 8px;
    --h1-word-spacing: 8px;

    --h2-stroke-size: 5px;
    --h2-word-spacing: 4px;
    --h2-font-size: 24px;

    --h3-font-size: 16px;

    --tag-font-size: 19px;

    --h4-font-size: 16px;

    --h5-font-size: var(--h4-font-size);
    --h5-stroke-size: 5px;
  }
}

@media only screen and (max-device-width: 360px) {
  :root {
    --h1-font-size: 10.769vw;
    --h1-stroke-size: 2.051vw;
    --h1-word-spacing: 2.051vw;

    --h2-stroke-size: 1.282vw;
    --h2-word-spacing: 1.026vw;
    --h2-font-size: 6.154vw;

    --h3-font-size: 4.103vw;

    --tag-font-size: 4.872vw;

    --h4-font-size: 4.103vw;

    --h5-font-size: var(--h4-font-size);
  }
}
