@media only screen and (min-width: 2221px) {
  :root {
    --center-container: 1176px;
  }
  .Q_3DLogo {
    --render-height: 350px;
  }
}

@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  :root {
    --center-container: 1176px;
  }
  .Q_3DLogo {
    --render-height: 300px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1740px) {
  :root {
    --center-container: 1176px;
  }

  .Q_3DLogo {
    --render-height: 200px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Q_3DLogo {
    --render-height: 150px;
  }
}

@media only screen and (min-device-width: 463px) and (max-device-width: 768px) {
  :root {
    --center-container: 100%;
    --wrap-padding-top: 200px;
  }

  .Q_3DLogo {
    display: none;
  }

  .Q_BurgerIcon {
    display: flex;
  }

  .Q_SearchIconMobile {
    display: flex;
  }

  .Q_LogoMobile {
    height: 100%;
    display: flex;
  }

  .M_HeaderNavbar a,
  .A_HeaderNavbarSearch {
    display: none;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 462px) {
  :root {
    --center-container: 100%;
    --wrap-padding-top: 156px;
    --wrap-padding: 68px;
    --wrap-gap: 68px;

    --title-font-stroke: 5px;
    --title-word-spacing: 4px;
    --title-font-size: 24px;
    --body-font-size: 16px;
    --smaller-font-size: var(--body-font-size);

    --tag-font-size: 19px;

    --W_FinalSecContentText-Width: 100%;
    --M_LandingCardsItem-Width: 100%;

    --border-width: 6px;

    --A_LandingTitleSec03-Height: 58px;

    --O_LandingCards-Gap: 48px;

    --O_LandingSec02-Height: 216px;

    --Q_TgIcon-Size: 68px;

    --Fixed-Button-Size: 48px;

    --Fixed-Button-Bottom: 152px;
    --Fixed-Button-Side: 8px;

    --A_Header-Height: 44px;
  }

  .A_HeaderNews {
    border-bottom: none;
  }

  .W_FinalSecContentText {
    width: fit-content;
    gap: 32px;
  }

  .W_FinalSecContent {
    padding: 0px 16px 16px 16px;
    flex-direction: row-reverse;
    gap: 24px;
  }

  .W_LandingCardsItemContent {
    padding: 36px 10px 16px 10px;
    gap: 32px;
  }

  .O_LandingSec {
    padding: 0px 16px;
    &.sec03 {
      margin-top: 156px;
    }
  }

  .W_LandingSec02Content {
    padding: 16px 22px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    transform: translateY(100%);
  }

  .A_LandingCardsItemTitle {
    font-size: 26px;
    left: calc(var(--A_LandingCardsItemTitle-Left) + 6px);
  }

  .W_LandingSecContentTypeUpside {
    gap: 32px;
  }

  .W_LandingSecContent {
    flex-direction: column;
    gap: 20px;
  }

  .W_LandingSecContentType {
    gap: 32px;
    padding: 0px;
  }

  .A_Tag {
    padding: 2px 8px;
  }

  .Q_LandingSecContentPic {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .O_FinalSec {
    position: relative;
  }

  .A_GoUp {
    font-size: 24px;

    &:hover {
      padding-bottom: 0px;
    }
  }

  .O_LandingCards {
    padding: 0px 16px;
    flex-direction: column;
  }

  .Q_3DLogo {
    display: none;
  }

  .Q_BurgerIcon {
    display: flex;
  }

  .Q_SearchIconMobile {
    display: flex;
  }

  .Q_LogoMobile {
    height: 100%;
    display: flex;
  }

  .M_HeaderNavbar {
    padding: 6px 16px 6px 16px;
  }

  .M_HeaderNavbar a,
  .A_HeaderNavbarSearch {
    display: none;
  }
  .M_Footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    gap: 8px;
  }

  .W_FooterText {
    flex-direction: column;
    gap: 8px;
  }

  .A_LandingTitle {
    padding: 0px 16px 12px 16px;
    margin-bottom: -6px;

    &.final {
      width: 100%;
      padding-left: 16px;
    }

    &::after {
      width: calc(100% - 32px);
    }

    &.shadowed {
      width: min-content;
      padding: 0px 20px 12px 16px;
      margin-left: 16px;
    }
  }

  .preLoader {
    img {
      width: 250px;
      height: 96px;
    }
  }
}

@media only screen and (max-device-width: 360px) {
  :root {
    --center-container: 100%;
    --wrap-padding-top: 200px;
  }

  .Q_3DLogo {
    display: none;
  }

  .Q_BurgerIcon {
    display: flex;
  }

  .Q_SearchIconMobile {
    display: flex;
  }

  .Q_LogoMobile {
    height: 100%;
    display: flex;
  }

  .M_HeaderNavbar a,
  .A_HeaderNavbarSearch {
    display: none;
  }
}
