#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  color: white;
}

body.test {
  cursor: none;
}

.btn {
  position: absolute;
  left: 50%;
  top: 50%;
}

.cursor {
  z-index: 9999; /* Теперь курсор точно выше всех элементов */
  width: 26px;
  height: 30px;
  background: url('./cursor.png') no-repeat center;
  background-size: contain;
  position: fixed;
  pointer-events: none; /* Оставляем, чтобы курсор не мешал кликам */
}

button {
  pointer-events: none; /* Оставляем кнопки кликабельными */
}

.cursor_hover {
}

.special {
  display: inline-block;
  padding: 20px;
  background: lightblue;
  margin: 20px;
}
