body.about {
  display: flex;
  justify-content: flex-end;
}

.aboutWarp {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-right: 100px;
}

h1 {
  display: flex;
  font-size: var(--h1-font-size);
  word-spacing: var(--h1-word-spacing);

  color: var(--schizo-red);

  font-family: 'InterVariable', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  text-shadow: var(--schizo-shadow-text);

  &::after {
    -webkit-text-stroke-width: var(--h1-stroke-size);
    -webkit-text-stroke-color: var(--schizo-yellow);

    paint-order: stroke fill;
    position: absolute;

    content: attr(data-text);
    text-shadow: 0px 0px 0px;

    font-size: inherit;
    word-spacing: inherit;
    font-family: inherit;
    font-style: inherit;
    text-transform: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

h2 {
  content: attr(data-text);
  display: flex;
  font-size: var(--h2-font-size);
  word-spacing: var(--h2-word-spacing);

  color: var(--schizo-red);

  font-family: 'InterVariable', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  text-shadow: var(--schizo-shadow-text);

  &::after {
    -webkit-text-stroke-width: var(--h2-stroke-size);
    -webkit-text-stroke-color: var(--schizo-yellow);

    paint-order: stroke fill;
    position: absolute;

    content: attr(data-text);
    text-shadow: 0px 0px 0px;

    font-size: inherit;
    word-spacing: inherit;
    font-family: inherit;
    font-style: inherit;
    text-transform: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

h3 {
  content: attr(data-text);
  display: flex;
  font-size: var(--h3-font-size);
  word-spacing: var(--h3-word-spacing);

  color: var(--schizo-red);

  font-family: 'InterVariable', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  text-shadow: var(--schizo-shadow-text-small);

  &::after {
    -webkit-text-stroke-width: var(--h3-stroke-size);
    -webkit-text-stroke-color: var(--schizo-yellow);

    paint-order: stroke fill;
    position: absolute;

    content: attr(data-text);
    text-shadow: 0px 0px 0px;

    font-size: inherit;
    word-spacing: inherit;
    font-family: inherit;
    font-style: inherit;
    text-transform: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

h4 {
  color: var(--schizo-yellow);

  font-family: 'InterVariable', sans-serif;
  font-size: var(--body-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

h5 {
  color: var(--schizo-yellow);

  font-family: 'InterVariable', sans-serif;
  font-size: var(--smaller-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

a {
  h5:hover {
  }
}

p.nav {
  color: var(--schizo-yellow);
  font-family: 'Times New Roman';
  font-size: var(--smaller-font-size);
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
