:root {
  // colors
  --white: white;
  --black: black;
  --schizo-yellow: #fff200;
  --schizo-red: #ff0000;

  //effects
  --schizo-shadow-text: 0px 14px 8px #000;
  --schizo-shadow: 0px 20px 30px 0px #000;
}
